html, body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Exo', sans-serif;
}

body {
  background-color: #000000;
}

.svg-wrapper {
  padding: 40px 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-wrapper svg {
  width: 100%;
}

.a {
  fill: #ff6900;
}

.b {
  fill: #fff;
}

.header-banner {
  padding: 32px;
  background-color: #ff6900;
}

.card-deck {
  padding: 48px 32px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  max-width: 300px;
  padding-bottom: 32px;
  margin: 0 auto;
  text-decoration: none;
}

.card img {
  width: 100%;
}

.card p {
  align-self: flex-start;
  padding-left: 16px;
}

.more-btn-container {
  display: flex;
  padding: 0 32px 32px 32px;
}

.load-more-btn {
  background-color: #ff6900;
  padding: 16px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 18px;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
}

.load-more-btn:hover {
  background-color: #000000;
  border: 1px solid #ff6900;
  color: #ff6900;
}

.details-wrapper {
  padding: 16px;
  max-width: 1024px;
  margin: 0 auto;
}

.breadcrumb-wrapper {
  margin-top: 24px;
  padding: 16px;
  max-width: 1020px;
  margin: 0 auto;
}

.breadcrumb-wrapper .breadcrumb {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.breadcrumb-wrapper .breadcrumb a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.breadcrumb-wrapper .breadcrumb a:hover {
  color: #ff6900;
}

.details .title {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.details .title img {
  height: 24px;
}

.details .preview {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 16px;
}

.details .responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.details .more-details button {
  border: 1px solid #fff;
  background-color: #000000;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  font-size: 14px;
}

.show-more .release-time-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 13px;
  line-height: 0px;
  margin-bottom: 24px;
}

.show-more .release-time-wrapper div p {
  font-size: 20px;
}

.show-more .original-title {
  display: flex;
  margin-top: 16px;
}

.show-more .cast {
  display: flex;
}

.show-more .group-heading {
  min-width: 50%;
}

.show-more .showing-in {
  display: flex;
}

.poster-img img {
  width: 100%;
  max-width: 400px;
}

.footer {
  border-top: 1px solid #444;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1020px;
  border-bottom: 1px solid #444;
  padding-bottom: 16px;
  margin: 0 auto;
}

.footer-container .col {
  max-width: 46%;
}

.footer-container .col h4 {
  margin-bottom: 16px;
}

.link-item {
  margin-bottom: 8px;
  margin-top: 0;
}

.link-item a {
  text-decoration: none;
  color: #aaa;
  line-height: 18px;
  font-size: 14px;
}

.link-item a:hover {
  color: #fff;
}

.footer .rights {
  font-size: 14px;
  text-align: center;
  padding-bottom: 32px;
  color: #aaa;
}

@media (min-width: 768px) {
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 auto;
    max-width: 520px;
  }

  .card {
    width: 240px;
    margin: unset;
  }

  .load-more-btn {
    width: 240px;
  }

  .show-more {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
  }

  .details-content {
    width: 50%;
  }

  .link-item {
    margin-bottom: 0;
  }
}

@media (min-width: 864px) {
  .card-deck {
    max-width: 800px;
  }
}

@media (min-width: 1024px) {
  .svg-wrapper {
    justify-content: flex-start;
    max-width: 1024px;
    margin: 0 auto;
  }
  svg {
    max-width: 240px;
    padding-left: 16px;
  }
}

@media (min-width: 1150px) {
  .card-deck {
    max-width: 1080px;
  }
}

@media (min-width: 1440px) {
  .card-deck {
    max-width: 1360px;
  }
}
